{% include 'includes/header.htm' %}
    <!-- main contents -->
    <div class="container my-4">
        <div class="row justify-content-center justify-content-around">
            <div class="col">
                {% include 'includes/contents/debug.htm' %}
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row justify-content-center justify-content-around">
            <div class="col">
                {% include 'includes/system_info.htm' %}
            </div>
        </div>
    </div>
    <!-- end main contents -->
    <div class="row"></div>
</div> <!--closing main container-->
{% include 'includes/footer.htm' %}