{% include 'includes/header.htm' %}
<div class="col">
    <div class="row">
        <div class="col">
            <h5 class="text-center">{{ info }}</h5>
        </div>
    </div>
</div>
    <!-- main content -->
    <div class="container my-4">
        <div class="row justify-content-center justify-content-around">
            <div class="col">
                {% include 'includes/gallery.htm' %}
            </div>
        </div>
    </div>
    <!-- end main content -->
    <div class="col">
        <div class="row">

        </div>
    </div>
    <div class="row"></div>
</div> <!--closing main container-->
{% include 'includes/footer.htm' %}