{% include 'jn/page_header.htm' %}
<div class="col">
        {% include 'jn/content_info.htm' %}
</div>
    <!-- main content -->
    <div class="container my-4">
        <div class="row justify-content-center justify-content-around">
            <div class="col">
                {% include 'jn/block_gallery.htm' %}
            </div>
        </div>
    </div>
    <!-- end main content -->
    <div class="col">
        {% include 'jn/content_info.htm' %}
    </div>
    <div class="row"></div>
</div>
{% include 'jn/page_footer.htm' %}