<div class="card text-bg-light mb-3 text-justify" style="border: none">
  <div class="row g-0">
    <div class="col-md-4">
        <div class="p-3 border border-3 border-secondary shadow-lg rounded">
            <img src="{{ url_for('static', filename='images/dc_n_c_II.png')}}" class="img-fluid rounded-start" alt="dc_n_c_II.png">
        </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-subtitle mb-2 text-muted">what kind of project</h5>
        <p class="card-text">As a hobby, I deal with 3D printing, programming,
            microcontrollers and single-board computers and plan to use this
            server here to control and monitor a 3D printer. It already runs
            a power consumption monitor including automatic shutdown of the
            printer, a temperature monitor including fan control for the server
            and this self programmed website here in a flask-gunicorn
            framework.<br>
            Sockets switchable via Wi-Fi, flashed with
            {% set lurl, ltext="https://bit.ly/tasmota", "Tasmota" %}
            {% include 'jn/block_link_blank.htm' %}
            to control power and for consumption measurement, and self-built
            Esp32 Wi-Fi cameras are also used.<br>
            I have implemented the usage of the
            {% set lurl, ltext="https://telegram.org/", "Telegram" %}
            {% include 'jn/block_link_blank.htm' %}
            bot API to monitor and control printer and server.<br>
            I like Python, taught myself and use Pycharm as IDE and
            {% set lurl, ltext="https://github.com/", "GitHub" %}
            {% include 'jn/block_link_blank.htm' %}
            as code repository.
        </p>
        <h5 class="card-subtitle mb-2 text-muted">worldwide problem</h5>
        <p class="card-text">Since I'm “stuck” behind a CG-NAT with my internet
            provider and don't get a public IP, I decided to rent a virtual
            private server from
            {% set lurl, ltext="https://www.ionos.de/server/vps", "IONOS" %}
            {% include 'jn/block_link_blank.htm' %}
            and redirect my
            {% set lurl, ltext="https://www.noip.com", "NoIP" %}
            {% include 'jn/block_link_blank.htm' %}
            domain to that VPS and I have added all the necessary devices
            to a virtual private network from
            {% set lurl, ltext="https://www.zerotier.com/", "ZeroTier." %}
            {% include 'jn/block_link_blank.htm' %}
            Via that VPN I have worldwide access to my devices, including this
            Raspberry Pi as print server.
        </p>
        <h5 class="card-subtitle mb-2 text-muted">why this name</h5>
        <p class="card-text">As a little play on words, I named this server
            KobraPi because my 3D printer is an
            {% set lurl, ltext="https://store.anycubic.com/collections/fdm-printer/products/kobra-2-plus", "Anycubic Kobra 2 Plus" %}
            {% include 'jn/block_link_blank.htm' %}
            and the printer server is a
            {% set lurl, ltext="https://www.raspberrypi.org/", "Raspberry Pi" %}
            {% include 'jn/block_link_blank.htm' %}<br>
            Why am I doing this?<br>Because I can do it and I really want to learn
            more, just for fun.<br>
            Incidentally, my nickname is based on a similar play on words ;-)
        </p>
        <h5 class="card-subtitle mb-2 text-muted">maybe later</h5>
        <p class="card-text">There may be more about me later. This project
            is still private, which may change.<br>
            We will see.
        </p>
        <p>Sincerely yours<br>D3adCow1220</p>
      </div>
    </div>
  </div>
</div>