<div class="card text-bg-light mb-3 text-justify" style="border: none">
    <div class="row">
        <div class="col-md-4">
            <div class="p-3 border border-3 border-secondary shadow-lg rounded">
                <img src="{{ url_for('static', filename='images/kobrapi.png')}}" class="img-fluid rounded-start" alt="KobraPi">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">KobraPi</h5>
                <p class="card-text text-muted">
                    <span>Raspberry Pi 4 to control and observe 3D printer and its enclosure.<br></span>
                    <span id="pwr"></span>
                </p>
                <h6 class="card-subtitle mb-2">operating system</h6>
                <p class="card-text text-muted">
                    <span id="os"></span>
                    <br>
                    <span id="kernel"></span>
                </p>
                <h6 class="card-subtitle mb-2">device info</h6>
                <p class="card-text text-muted">
                    <span id="cores"></span>
                    <br>
                    <span id="freq"></span>
                    <span id="cpu"></span>
                    <br>
                    <span id="ram"></span>
                    <br>
                    <span id="temp"></span>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    {% include 'js/system.js' %}
</script>
