
<!-- begin: footer block -->
<!-- CLOSING MAIN CONTENT (important to leave space for the fixed navi bar and footer) -->
</div>
<nav class="navbar navbar-expand-sm navbar-dark navbar-footer d-flex justify-content-end px-3">
    <div class="d-flex align-items-center">
        <span class="navbar-brand text-secondary" style="font-size: small">{{ version }}&nbsp;D3adCow1220</span>
        <div class="p-1 border border-3 border-secondary shadow-lg rounded">
            <img src="{{ url_for('static', filename='favico/android-chrome-512x512.png') }}" alt="D3adCow1220" height="32" class="me-2">
        </div>
    </div>
</nav>
</body>
</html>
<!-- end: footer block -->