<!-- begin: 4 buttons loop -->
{% for device_id, device in devices.items() %}
    <div class="col-md-3 my-2">
        <button
                class="btn status-btn btn-sm w-100"
                id="{{ device_id }}"
                style="--status-color: {{ '#d35400' if device.state == 'on' else ('#448795' if device.state == 'off' else 'gray') }};"
                onclick="toggleDevice('{{ device_id }}')">
            {{ device.name }}<br>
            <span id="state-{{ device_id }}">{{ 'ON' if device.state == 'on' else ('OFF' if device.state == 'off' else '???') }}</span><br>
            <small id="power-{{ device_id }}">&nbsp;</small>
        </button>
    </div>
{% endfor %}
<!-- end: 4 buttons loop -->
