<script>
  const styleTitle = "color: #e83e8c; font-size: 20px; font-weight: bold;";
  const styleSub = "color: #6f42c1; font-size: 14px;";
  const styleAscii = "color: #20c997; font-family: monospace;";
  const styleHint = "color: #ffc107; font-size: 12px;";

  console.log("%cWelcome to KobraPi 🐍", styleTitle);
  console.log("%cYou seem to know your way around here...", styleSub);

  console.log(`%c
        /^\\/^\\
      _|__|  O|
\\/     /~     \\_/ \\
 \\____|__________/  \\
        \\_______      \\
                \`\\     \\                 \\
                  |     |                  \\
                 /      /                    \\
                /     /                       \\\\
              /      /                         \\ \\
             /     /                            \\  \\
           /     /             _----_            \\   \\
          /     /           _-~      ~-_         |   |
         (      (        _-~    _--_    ~-_     _/   |
          \\      ~-____-~    _-~    ~-_    ~-_-~    /
            ~-_           _-~          ~-_       _-~
               ~--______-~                ~-___-~
  `, styleAscii);

  console.log("%cPsst… visit /kobra/debug for a hidden page. 🤫", styleHint);
</script>
