<script>
    function showTab(tabId) {
        document.querySelectorAll('.tab-content').forEach(div => div.classList.remove('active'));
        document.getElementById(tabId).classList.add('active');

        document.querySelectorAll('.tab-button').forEach(btn => btn.classList.remove('active'));
        document.querySelector('.tab-button[onclick="showTab(\'' + tabId + '\')"]').classList.add('active');
    }

    function toggleLanguage() {
        document.querySelectorAll('.lang-de, .lang-en').forEach(el => el.classList.toggle('active'));
    }
</script>