<!-- begin: navigation bar -->
<nav class="navbar navbar-expand-sm navbar-dark navbar-header px-3">
    <div class="container-fluid">
        <!-- logo & branding -->
        <div class="d-flex align-items-center">
            <div class="p-1 border border-3 border-secondary shadow-lg rounded">
                <img src="{{ url_for('static', filename='favico/kobrapi20.png') }}"
                     alt="Logo" height="32" class="me-2">
            </div>
            <a class="navbar-brand text-secondary"
                href="{{ repo }}"
                target="_blank"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-delay='{"show":500,"hide":100}'
                data-bs-custom-class="custom-tooltip"
                title="code repository">
                &ensp;<b>KobraPi</b><small>&nbsp;{{ version }}</small></a>
        </div>
        <!-- responsive burger menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- navigation loop -->
        <div class="collapse navbar-collapse justify-content-end"
             id="navbarNav">
            <ul class="navbar-nav">
                {% for item in navigation %}
                    <li class="nav-item {% if active_page == item.id %}active{% endif %}">
                        <a class="nav-link"
                            href="{{ url_for(item.endpoint) }}"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-delay='{"show":500,"hide":100}'
                            data-bs-custom-class="custom-tooltip"
                            title="{{ item.title }}">
                            {{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
<!-- START MAIN CONTENT (important to leave space for the fixed navi bar and footer) -->
<div class="page_content">
<!-- end: navigation bar -->